body {
  background-color: white;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table th {
  background-color: #333;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: 100;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Apply hover background to cells except those marked with .tableProperty */
table tr:hover td:not(.tableProperty) {
  background-color: #f5f5f5;
}
