body {
  background-color: white;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
